.container.tabs
  .wrap.tabs
    %p.header_text Boads
    .border_room
    %h1.tabs-text All Boards
    - @boards.each do |board|
      = render 'commons/board', board: board
    .add-new-board +Add new board