.container {

    .tabs-text {
        margin: 35px 0;
    }

    .tabs-card {
        width: 100%;
        margin-top: 30px;
        background: #F4F4F4;
        border-radius: 10px;
    }

    .add-new-board {
        width: 100%;
        padding: 100px 0;
        margin-top: 30px;
        background: #FFFFFF;
        border: 1px dashed rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        text-align: center;
    }
}